.RegistrationDialog {
  width: 30%;
  height: 400px;
  margin: 10rem auto;
  padding: 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: rgba(249, 109, 0, 1) 18px -18px;
  background-color: #393e46;
}

.RegistrationDialog img {
  width: 64px;
}

.RegistrationDialog h3 {
  font-size: 40px;
  color: #f96d00;
  margin: 0;
  line-height: 1.2;
}

.RegistrationDialog p {
  font-size: 24px;
  margin: 0;
  line-height: 1.2;
}
